@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
html {
	background-image: url("SUPERTUCK.jpg");
}
	nav#menu {
		display: block;
	}
	nav#menu ul {
		list-style: none;
		text-transform: uppercase;
		position: absolute;
		top: -20px;
		left: 400px;
	}

	nav#menu li {
		display: inline-block;
		background-color: #dddddd;
		padding: 10px;
		margin: 2px;
		transition: background-color 1s;
	}

	nav#menu li:hover {
		background-color:#96E955;
	}
	nav#menu h1 {
		display:none;
	}
	nav#menu a {
		color: #000000;
		text-decoration: none;
	}
	nav#menu a:hover {
		color: #ffffff
	}
	div {
		padding: 20px;
	}
table#tabela {
	text-align: center;
	vertical-align: top;
	font-size: 50px;
	border: 1px solid #96E955;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}
table#tabela td {
	font-family:'Roboto', sans-serif;
	padding: 10px;
	border: 1px solid #96E955;
}
caption#titulo {
	color: #96E955;
	font-size: 55px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 4px black;
	font-family: 'Lobster', sans-serif;
}
}