@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
div#galeria {
	margin: 10px 50px;
}
div#galeria img{
	transition: 1s;
	padding: 15px;
	width: 300px;
}
div#galeria img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}
h1#titulo {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
	margin-bottom: -35px;
	color: #96E955;
	text-shadow: 1px 1px 4px black;
	font-family: 'Lobster', sans-serif;
}
html {
	background-image: url("SUPERTUCK.jpg");
}
	nav#menu {
		display: block;
	}
	nav#menu ul {
		list-style: none;
		text-transform: uppercase;
		position: absolute;
		top: -20px;
		left: 400px;
	}

	nav#menu li {
		display: inline-block;
		background-color: #dddddd;
		padding: 10px;
		margin: 2px;
		transition: background-color 1s;
	}

	nav#menu li:hover {
		background-color:#96E955;
	}
	nav#menu h1 {
		display:none;
	}
	nav#menu a {
		color: #000000;
		text-decoration: none;
	}
	nav#menu a:hover {
		color: #ffffff
	}
	div {
		padding: 20px;
	}